﻿
/*===padding styles=====*/
.padding-none{
    padding:0px!important;
}
.padding-left-none{
    padding-left:0px!important;
}
.padding-right-none{
    padding-right:0px!important;
}
.padding-top-none{
    padding-top:0px!important;
}
.padding-bottom-none{
    padding-bottom:0px!important;
}
.padding-top-bottom-none{
    padding-top:0px!important;
    padding-bottom:0px!important;
}
.padding-left-right-none{
    padding-left:0px!important;
    padding-right:0px!important;
}

/*====margin styles====*/
.margin-none{
    margin:0px!important;
}
.margin-left-none{
    margin-left:0px!important;
}
.margin-right-none{
    margin-right:0px!important;
}
.margin-top-none{
    margin-top:0px!important;
}
.margin-bottom-none{
    margin-bottom:0px!important;
}
.margin-top-bottom-none{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.margin-left-right-none {
    margin-left: 0px !important;
    margin-right:0px!important;
}
.margin-top-10{
    margin-top:10px!important;
}
.margin-top-20{
    margin-top:20px!important;
}
.margin-top-80{
    margin-top:80px!important;
}



/*============ng-click style============*/

[ng-click],[data-ng-click],a{
    cursor:pointer;
}

a{
    text-decoration:none!important;
}

.text-white{
    color:#fff!important;
}
        .mybox {
        
        width: 20%;
        height: 20%;
        text-align: center;
        padding-top: 90px;
        color: white;
        margin-top: 100px;
        margin-left: 30px;
    }
    .pink{
        background-color: #e30074;
        width: 60%;
        min-height: 200px;
        height: 300%;
        text-align: center;
        padding-top: 90px;
        color: white;
        margin-top: 100px;
        margin-left: 20%;
        box-shadow: 0px 0px 12px #808080;
        border-radius: 10px 10px 10px 10px;
    }
    
    .green{
        background-color:#b8d000;
        width: 60%;
        min-height: 200px;
        height: 300%;
        text-align: center;
        padding-top: 90px;
        color: white;
        margin-top: 100px;
        margin-left: 20%;
        box-shadow: 0px 0px 12px #808080;
        border-radius: 10px 10px 10px 10px;
    }
    .orange{
        background-color:#ff9900;
        width: 60%;
        min-height: 200px;
        height: 300%;
        text-align: center;
        padding-top: 90px;
        color: white;
        margin-top: 100px;
        margin-left: 20%;
        box-shadow: 0px 0px 12px #808080;
        border-radius: 10px 10px 10px 10px;
    }
    .blue{
        background-color:#2175d9;
        width: 60%;
        min-height: 200px;
        height: 300%;
        text-align: center;
        padding-top: 90px;
        color: white;
        margin-top: 100px;
        margin-left: 20%;
        box-shadow: 0px 0px 12px #808080;
        border-radius: 10px 10px 10px 10px;
    }

    @media only screen and (min-width: 768px) {
    .label {
        font-size: 18px;
        margin-left: 10px;
        margin-top: 4px;
        z-index: 99;
    }
}

@media only screen and (min-width: 992px) {
    .label {
        font-size: 22px;
        margin-left: 5px;
        margin-top: 4px;
        z-index: 99;
    }

}
@media only screen and (max-width: 768px) {

    .myheader {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 992px) {

    .myheader {
        margin-top: -15px;
    }
}
