﻿<!--
Author: Kafsal KM
Page Description: Job Intake form 
Date: 04 July 2017
-->
<style>
    .rowpadding{
        padding: 5px;
    }
    .mysubmitbtn{
        background-color: #000030;
        color: white;
        font-size: medium;
        min-width: 100px;
        min-height: 40px;
        border-radius: 0;
    }
    .mysubmitbtn:hover{
        background-color: #000060;
        font-weight: 500;
    }
</style>

<section class="content-header" style="margin:15px;">
    
</section>

<!-- Main content -->
<section class="content">
    
    <div id="myLoadPanel" dx-load-panel="{
        bindingOptions: {
            visible: 'loadPanelVisible',
            message: 'loadPanelMessage',
        }
    }"></div>
    
    <div class="myheader">
        <h2 style="color: dodgerblue; ">
            looking for a staff?
        </h2>
    </div>

    <div class="row rowpadding">
        <div class="col-md-2">
            Job Title
        </div><!-- /.col -->
        <div class="col-md-6">
            <input type="text" id="jobTilte" ng-model="job.JobTitle" class="form-control" ng-blur="validateTitle()"/>
        </div>
    </div>
 
    <div class="row rowpadding">
        <div class="col-md-2">
            No.of Open Positions
        </div><!-- /.col -->
        <div class="col-md-6">
            <input type="text" id="noRequired" ng-model="job.NoRequired" class="form-control" ng-blur="validateNo()"/>
        </div>
    </div>

    <div class="row rowpadding">
        <div class="col-md-2">
            Location
        </div><!-- /.col -->
        <div class="col-md-6">
            <select id="jobLocation" ng-model="job.Location" ng-options="x.Id as x.Description for x in locations" class="form-control" ng-blur="validateLocation()">
                <option value="" selected hidden />
            </select>
        </div>
    </div>

    <div class="row rowpadding">
        <div class="col-md-2">
            Overall Experience
        </div><!-- /.col -->
        <div class="col-md-6">
            <input id="ovrExp" type="text" ng-model="job.OverallExp"  class="form-control" ng-blur="validateExperience()"/>
        </div>
    </div>
    
    <div class="row rowpadding">
        <div class="col-md-2">
            Relavent Experience
        </div><!-- /.col -->
        <div class="col-md-6">
            <input type="text" id="relExp" ng-model="job.RelaventExp" class="form-control" ng-blur="validateExperience()" />
        </div>
    </div>


    <div class="row rowpadding">
        <div class="col-md-2">
            Salary
        </div><!-- /.col -->
        <div class="col-md-3">
            <input type="text" id="salaryFrom" ng-model="job.SalaryFrom" class="form-control" placeholder="From" ng-blur="validateSalary()"/>
        </div>
        <div class="col-md-3">
            <input type="text" id="salaryTo" ng-model="job.SalaryTo" class="form-control" placeholder="To" ng-blur="validateSalary()"/>
        </div>
    </div>

    <div class="row rowpadding">
        <div class="col-md-2">
            Skillset
        </div><!-- /.col -->
        <div class="col-md-6">
            <select ng-model="job.lstSkills" id="skillset" ng-options="x as x.Description for x in skills" class="form-control" multiple ng-blur="validateSkill()">
                <option value="" selected hidden />
            </select>
        </div>
    </div>

    <div class="row rowpadding">
        <div class="col-md-2">
            Job Specification
        </div><!-- /.col -->
        <div class="col-md-6">
            <textarea id="jobSpec" ng-model="job.JobSpecification" style="height:80px;" class="form-control" ng-blur="validateJobSpec()"></textarea>
        </div>
    </div>

    <div class="row rw">
        <div class="col-md-8">
        <div class="pull-right" >
            <input id="sbt" type="button" class="btn mysubmitbtn" ng-click="submit()" value="Submit" />
        </div>
    </div>
    </div>
</section><!-- /.content -->


