﻿<!--
Author: Kafsal KM
Page Description: Client Profile
Date: 07 Sept 2016
-->

<section class="content-header">
   
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">List A Job</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                    <table style="width:60%">
                    <tr>
                        <td><label>Job Description</label></td>
                        <td><span><input type="text"style="width:250px;"/></span></td>
                    </tr>
                     <tr>
                        <td><label>Job</label></td>
                        <td><span><input type="text"/></span></td>
                       
                   </tr>
                    <tr>
                        <td><label>Year Of Experience</label></td>
                        <td><span><input type="text"></span></td>
                        
                    </tr>
                    <tr>
                        <td><label>Location</label></td>
                        <td><span><input type="text"/></span></td>
                                     
                    </tr>
                    <tr>
                        <td><label>Deadline</label></td>
                        <td><span><input type="text"/></span></td>
                                     
                    </tr>
                    <tr>
                        <td><label>Type Of Pay</label></td>
                        <td><span class="btn">Class 1</span>
                            <span class="btn">Class 2</span>
                            <span class="btn">Class 3</span>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="button" class="btn btn-primary" value="Submit" /> </td>
                    </tr>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
        </div><!-- /.row -->
       
</section><!-- /.content -->


