﻿<!--
Author: Kafsal KM
Page Description: Client Profile
Date: 07 Sept 2016
-->

<br/><br/><br/> 
<!-- Main content -->
<section class="content">
    
    <div class="row">
    <div class="col-md-12">
        <div ng-repeat="loan in loans | startFrom: (currentPage -1)*numPerPage | limitTo:numPages()" style="width:95%;height:150px;border:1px solid white;margin:5px;
                background-color:WhiteSmoke;margin-left:30px;">
            <div style="height:50%;border-bottom:1px solid white;">
                <div style="width:100%;float:right;">
                    <h2 style="margin:12px;font-stretch:semi-expanded;color:dodgerblue;">{{loan.title}}</h2>
                </div>
            </div>
            <div style="height: 50%;">
                <table style="width:100%">
                    <tr>
                        <td>
                            <h4 style="margin: 0 0 0 10%;color:dodgerblue;">Account Number</h4>
                        </td>
                        <td><h4 style="margin: 0 0 0 0;color:dodgerblue; float:left;text-align:left;"> <b>{{loan.accountnumber}}</b></h4></td>
                    </tr>
                    <tr>
                        <td>
                            <h4 style="margin: 0 0 0 10%;color:dodgerblue;">Status</h4>
                        </td>
                        <td><h4 style="margin:0 0 0 0;color:dodgerblue;"> <b>{{loan.status}}</b></h4></td>
                    </tr>
                    </table>
            </div>
        </div>

        <div class="pull-right">
            <button class="btn btn-info btn-sm" ng-disabled="currentPage == 1" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage}}/{{numPages()}}
            <button class="btn btn-info btn-sm" ng-disabled="currentPage == numPages()" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>
    </div>
</section><!-- /.content -->


