﻿<!--
Author: Kafsal KM
Page Description: Job List
Date: 04 July 2017
-->

<br/><br/><br/> 
<br />
<!-- Main content -->
<section class="content">
    <div id="myLoadPanel" dx-load-panel="{
        bindingOptions: {
            visible: 'loadPanelVisible',
            message: 'loadPanelMessage',
        }
    }"></div>

    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Open Vacancies">
                <md-content class="md-padding">
                    <div class="col-md-12">
                        <div ng-repeat="job in jobs | startFrom: (currentPage -1)*numPerPage | limitTo: (currentPage*numPerPage) - 1" style="width:95%;min-height:110px;border:1px solid white;margin:5px;
                background-color:WhiteSmoke;margin-left:20px;">
                            <div style="height:50%;border-bottom:1px solid white;">
                                <div style="width:100%;float:right;">
                                    <h2 style="margin:12px;font-stretch:semi-expanded;color:dodgerblue;">{{job.JobTitle}}</h2>
                                </div>
                            </div>
                            <div style="height: 50%;">
                                <table style="width:80%; margin-left: 10px;">
                                    <tr>
                                        <td><h5 style="margin: 0 0 0 0;color:dodgerblue; float:left;text-align:left;">Location:   <b>{{job.LocationName}}</b></h5></td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="margin:0 0 0 0;color:dodgerblue; display:inline;">Open Positions:  <b>{{job.NoRequired}}</b></h5></td>
                                    </tr>
                                    <input type="button" id="{{job.Id}}" class="btn btn-warning btn-sm pull-right" value="View" style="margin-right:5px; display:inline;"
                                           ng-click="viewJob($event)" />
                                </table>
                            </div>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-info btn-sm" ng-disabled="currentPage == 1" ng-click="currentPage=currentPage-1">
                                Previous
                            </button>
                            {{currentPage}}/{{numPages()}}
                            <button class="btn btn-info btn-sm" ng-disabled="currentPage == numPages()" ng-click="currentPage=currentPage+1">
                                Next
                            </button>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Closed Vacancies">
                <md-content class="md-padding">
                    <div class="col-md-12">
                        <div ng-repeat="job in closedjobs | startFrom: (currentPage1 -1)*numPerPage | limitTo: (currentPage1*numPerPage) - 1" style="width:95%;min-height:110px;border:1px solid white;margin:5px;
                background-color:WhiteSmoke;margin-left:20px;">
                            <div style="height:50%;border-bottom:1px solid white;">
                                <div style="width:100%;float:right;">
                                    <h2 style="margin:12px;font-stretch:semi-expanded;color:dodgerblue;">{{job.JobTitle}}</h2>
                                </div>
                            </div>
                            <div style="height: 50%;">
                                <table style="width:80%; margin-left: 10px;">
                                    <tr>
                                        <td><h5 style="margin: 0 0 0 0;color:dodgerblue; float:left;text-align:left;">Location:   <b>{{job.LocationName}}</b></h5></td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="margin:0 0 0 0;color:dodgerblue; display:inline;">Open Positions:  <b>{{job.NoRequired}}</b></h5></td>
                                    </tr>
                                    <input type="button" id="{{job.Id}}" class="btn btn-warning btn-sm pull-right" value="View" style="margin-right:5px; display:inline;"
                                           ng-click="viewJob($event)" />
                                </table>
                            </div>
                        </div>



                        <div class="pull-right">
                            <button class="btn btn-info btn-sm" ng-disabled="currentPage1 == 1" ng-click="currentPage1=currentPage1-1">
                                Previous
                            </button>
                            {{currentPage1}}/{{numPages1()}}
                            <button class="btn btn-info btn-sm" ng-disabled="currentPage1 == numPages1()" ng-click="currentPage1=currentPage1+1">
                                Next
                            </button>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</section><!-- /.content -->


