﻿<!--
Author: Kafsal KM
Page Description: Client Profile
Date: 07 Sept 2016
-->

<section class="content-header">
    <h1>
        Help
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Client</a></li>
        <li class="active">Help</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
          <div class="col-md-6">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Help</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                   <h4>Contact Us:</h4>
                   <h5>Google India Pvt Ltd</h5>
                   <h6>Kodihalli</h6>
                   <h6>Bangalore</h6>
                   <h6>www.google.co.in</h6>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
    <div class="col-md-6">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">FAQ'S</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                   <div class="box">
                   <h4>Qu?</h4><br />
                   <h5>Ans:</h5>
                   </div>
                   <div class="box">
                   <h4>Qu?</h4><br />
                   <h5>Ans:</h5>
                   </div><div class="box">
                   <h4>Qu?</h4><br />
                   <h5>Ans:</h5>
                   </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
        </div><!-- /.row -->
        
        
</section><!-- /.content -->


