﻿<!--
Author: Kafsal KM
Page Description: Job Details
Date: 04 July 2017
-->
<style>
    h4, h3 {
        color: #696b6c;
    }
</style>

<section class="content-header" style="margin:15px;">

</section>
<!-- Main content -->
<section class="content">

    <div id="myLoadPanel" dx-load-panel="{
        bindingOptions: {
            visible: 'loadPanelVisible',
            message: 'loadPanelMessage',
        }
    }"></div>

  <div class="col-md-6">
              <div class="myheader">
                  <h3 style="color: dodgerblue; ">Job Deatils</h3>
              </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4"> <h4>JobTitle:</h4></div> 
                    <div class="col-md-4"><h4><b> {{job.JobTitle}}</b></h4></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4"> <h4>Location:</h4></div>
                    <div class="col-md-4"><h4><b> {{job.LocationName}}</b></h4></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4"> <h4>Open Positions:</h4></div>
                    <div class="col-md-4"><h4><b> {{job.NoRequired - job.NoSoFar}}</b></h4></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4"> <h4>Oevrall Experience:</h4></div>
                    <div class="col-md-4"><h4><b> {{job.OverallExp}}</b></h4></div>
                </div>
                
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4"> <h4>Relavent Experience:</h4></div>
                    <div class="col-md-4"><h4><b> {{job.RelaventExp}}</b></h4></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4"> <h4>Closed Positions:</h4></div>
                    <div class="col-md-4"><h4><b> {{job.NoSoFar}}</b></h4></div>
                </div>          

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4"> <h4>Salary From:</h4></div>
                    <div class="col-md-2"><h4><b> {{job.SalaryFrom}}</b></h4></div>
                    <div class="col-md-1"> <h4>To:</h4></div>
                    <div class="col-md-3"><h4><b> {{job.SalaryTo}}</b></h4></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4"> <h4>Skills:</h4></div>
                    <div class="col-md-6"><span ng-repeat="x in Skills" style="font-weight:600;font-size:large; padding: 4px; background-color: #dde5e5; color: #53d3d3; margin: 5px; "> {{x.Description}} </span></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4"><h4>Job Specification</h4></div>
                    <div class="col-md-4"><b>{{job.JobSpecification}}</b></div>
                </div>
              <div class="row">
                  <md-button class="md-raised md-primary" ng-click="showConfirm($event)" ng-show="isShow">Close Job</md-button>
              </div>
        </div>
        
</section><!-- /.content -->


