﻿<div class="wrapper">
    <style>
        .btnnav{
            margin: 0 -1px;
        }
        </style>
    <header class="main-header">
        <!-- Logo -->
        <a class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="images/rndlgo.png" /></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img src="images/rndlgo.png" /></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
           <ul class="nav navbar-nav" ng-show="navbar">
            <li class="dropdown user user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../images/user.png" class="user-image" alt="User Image" />
                            <span class="hidden-xs">{{ClientDetails.ContactDetails.FirstName + ' ' + ClientDetails.ContactDetails.LastName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="../../images/user.png" alt="User Image" class="img-circle" />


                                <h3>{{ClientDetails.ContactDetails.FirstName + ' ' + ClientDetails.ContactDetails.LastName}}</h3>
                                <p class="text-center">
                                    {{ClientDetails.ContactDetails.Designation}}
                                    <small>{{ClientDetails.ClientName}}</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">

                                <div class="pull-right">
                                    <md-button class="md-raised" ng-click="vm.Logout()">Log Out</md-button>
                                </div>
                            </li>
                        </ul>
                    </li>
           </ul>
           </div>
        </nav>
        <nav class="nav navbar-static-top navbar-inverse" ng-show="navbar">
            <div class="pull-left" style="margin-left:30px;">
                <md-button class="md-raised md-warn btnnav" ng-click="myVac()">Vacancies</md-button>
                <md-button class="md-raised md-warn btnnav" ng-click="submitVac()">Submit Vacancies</md-button> 
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" style="font-style: normal;width:0px !important;">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="width:0px;"></section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="border-right:1px solid #d9d9d9;margin:25px;padding:8px; box-shadow:0px 0px 10px rgb(181, 194, 194);background-color:#fff; min-height: 87vh;">
        <ui-view></ui-view>
    </div>

    <footer class="main-footer" style="width:98%;border-right:1px solid #d2d6de;margin-left:15px;">
        
        <strong>&copy;Technology Innovation Group All rights reserved.</strong>
    </footer>
    </div>
